<table class="table table-condensed">
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
</table>
<table>

    <tr class="active">...</tr>
    <tr class="success">...</tr>
    <tr class="warning">...</tr>
    <tr class="danger">...</tr>
    <tr class="info">...</tr>

    <!-- On cells (`td` or `th`) -->
    <tr>
        <td class="active">...</td>
        <td class="success">...</td>
        <td class="warning">...</td>
        <td class="danger">...</td>
        <td class="info">...</td>
    </tr>
</table>
