<h1>Movimento</h1>
<h2>Sobre Nós</h2>
<h1>h1. Bootstrap heading</h1>
<h2>h2. Bootstrap heading</h2>
<h3>h3. Bootstrap heading</h3>
<h4>h4. Bootstrap heading</h4>
<h5>h5. Bootstrap heading</h5>
<h6>h6. Bootstrap heading</h6>


<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <p class="form-control-static">email@example.com</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
</form>
<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
</form>
<form class="form-inline">
    <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
    </div>
    <button type="submit" class="btn btn-default">Send invitation</button>
</form>



<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<table class="table table-condensed table-striped table-hover">
    <tr><td>table-condensed</td><td>table-condensed</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
</table>

<table class="table table-condensed">
    <tr><td>table-condensed</td><td>table-condensed</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
</table>
<table>

    <tr class="active">...</tr>
    <tr class="success">...</tr>
    <tr class="warning">...</tr>
    <tr class="danger">...</tr>
    <tr class="info">...</tr>

    <!-- On cells (`td` or `th`) -->
    <tr>
        <td class="active">...</td>
        <td class="success">...</td>
        <td class="warning">...</td>
        <td class="danger">...</td>
        <td class="info">...</td>
    </tr>
</table>

<table class="table table-striped">
    <tr><td>table-striped</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>table-striped</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
</table>

<br /><br />
<table class="table table-bordered">
    <tr><td>table-bordered</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>table-bordered</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
</table>
<br /><br />
<table class="table table-condensed">
    <tr><td>table-condensed</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
</table>
<table class="table  table-hover">
    <tr><td>table-hover</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>table-hover</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
</table>
<table class="table  table-responsive">
    <tr><td>table-responsive</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>table-responsive</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
    <tr><td>....</td><td>....</td><td>....</td><td>....</td></tr>
</table>
<div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
</div>
<div class="row">
    <div class="col-md-8">.col-md-8</div>
    <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
    <div class="col-md-6">.col-md-6</div>
    <div class="col-md-6">.col-md-6</div>
</div>
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<p class="text-justify">Justified text.</p>
<p class="text-nowrap">No wrap text.</p>

<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">Capitalized text.</p>

<h1>Formulario Movimento</h1>
<p class="text-muted">Até as 20h desta quarta-feira (5), os senadores haviam apresentado 177 emendas para alterar pontos da reforma trabalhista no Plenário. O prazo para sugerir mudanças no PLC 38/2017 vai até o encerramento da discussão, previsto para esta quinta (6).</p>
<p class="text-primary">O senador Paulo Paim (PT-RS) sugere a rejeição de um dos pilares da reforma trabalhista proposta pelo governo Temer: a prevalência do negociado sobre o legislado.</p>
<p class="text-success">"A reforma atribui força de lei a convenções e acordos coletivos, mesmo que em condições menos favoráveis ao trabalhador. A restrição ou supressão de direitos por meio de negociação implica flagrante inconstitucionalidade, pois a convenção e o acordo devem servir à ampliação de direitos", diz Paim.</p>
<p class="text-info">.O senador Paulo Rocha (PT-PA) propõe que o negociado só prevaleça sobre o legislado quando beneficiar o trabalhador. As informações são da Agência Senado.</p>
<p class="text-warning">"A lei trabalhista deve sempre buscar o aperfeiçoamento e a melhora nas relações e condições de trabalho. O PLC 38/2017 abre as comportas para a diminuição de benefícios e para a piora de vida de trabalhadores", afirma Paulo Rocha.</p>
<p class="text-danger"> senadora Vanessa Grazziotin (PCdoB-AM) foi quem mais apresentou emendas: 44. Ela quer incluir um parágrafo para evitar que as empresas troquem funcionários fixos por temporários. O patrão teria que manter, nas duas modalidades de contratação, a mesma quantidade de trabalhadores existente em dezembro de 2016.</p>
<p>------------------------------------------</p>
<p class="bg-primary">As senadoras Kátia Abreu (PMDB-TO) e Glesi Hoffmann (PT-PR) querem impedir que gestantes ou lactantes trabalhem em locais considerados insalubres, mesmo que autorizadas por um médico.</p>
<p class="bg-success">"Isso coloca em risco não só a saúde da mãe, mas também da criança. Além disso, o atestado para comprovar que o ambiente não afeta a saúde ou não oferece risco pode ser apresentado pelo próprio médico da empresa, caracterizando um conflito de interesses", afirma Gleisi.</p>
<p class="bg-info">A legislação permite que o Judiciário reveja o mérito de acordos e convenções coletivas, se constatar que houve prejuízo para uma das partes. O senador Eduardo Braga (PMDB-AM) critica um artigo da reforma trabalhista que restringe a atuação do juiz a aspectos meramente formais.</p>
<p class="bg-warning">"Cabe ao Poder Judiciário, por determinação constitucional, verificar se a negociação coletiva atinge ou não o escopo para o qual foi criada, não podendo o crivo judicial ficar restrito aos aspectos formais", afirma Braga.</p>
<p class="bg-danger">O senador Randolfe Rodrigues (Rede-AP) quer manter na legislação o pagamento de hora extra para o tempo de deslocamento do trabalhador para a empresa. A reforma acaba com a chamada hora in itinere.</p>

<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>

<br />
<p>
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
    <button type="button" class="btn btn-default btn-lg">Large button</button>
</p>
<p>
    <button type="button" class="btn btn-primary">Default button</button>
    <button type="button" class="btn btn-default">Default button</button>
</p>
<p>
    <button type="button" class="btn btn-primary btn-sm">Small button</button>
    <button type="button" class="btn btn-default btn-sm">Small button</button>
</p>
<p>
    <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
    <button type="button" class="btn btn-default btn-xs">Extra small button</button>
</p>
<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>

<br />
